body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #3F3F3F;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  margin: 0 auto;
  bottom: 10px;
}